.App {

  text-align: center;
  
}

#item:hover{
  cursor: pointer;
  transform: scale(1.05);
  background-color: rgba(240, 248, 255, 0.815);
  
}


#RemoveAll{
  background-color: rgb(245, 92, 87);
  margin-right: 15px;
  margin-left: 15px;
  margin-bottom: 15px;
}

#RemoveAll:hover{
  cursor: pointer;
  text-decoration: underline;

}

#textbox{
  margin-right: 5px;
}



.list{
  height: 100%;
}


#item{
   margin-top: 5px;
   width: 40%;
   margin: auto;
   border-bottom: 1px solid rgb(221, 216, 216);
   text-align: center;

}

.Header{
  width: 100%;
  height: 20%;
  display:flex;
}

#GoogleSignIn:hover{
  cursor: pointer;
  transform: scale(1.005);
}

#GoogleSignIn{
  position: absolute;
  right: 1%;
  top: 0;
}

#Title{
  margin: auto;
}

#UserName{
  position: absolute;
  right: 1%;
  top: 4%;
}

#WriteButton{
  margin-left: 2px;
  border: 1px solid;
  border-radius: 5%;
  height: 100%;
}

#WriteButton:hover{
  cursor: pointer;
}

.input{
  margin-bottom: 25px;
  height: 2vh;

}

#ListText{
  height: 100%;
 /* background-color: rgb(255, 249, 249);*/
  
  border-bottom: 15% solid black;

}

